body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:54px;
  width:335px;
  height:542px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:263px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:25px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:55px;
  width:333px;
  height:25px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:515px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:80px;
  width:333px;
  height:515px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:80px;
  width:40px;
  height:39px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:80px;
  width:39px;
  height:40px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:121px;
  width:40px;
  height:41px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:85px;
  width:32px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:126px;
  width:75px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:128px;
  width:81px;
  height:32px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u130_input {
  font-family:'应用字体';
}
#u130_input:disabled {
  color:grayText;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:318px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:173px;
  width:318px;
  height:318px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:514px;
  width:101px;
  height:45px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:514px;
  width:101px;
  height:45px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:514px;
  width:101px;
  height:45px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
