body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:54px;
  width:335px;
  height:542px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:263px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:25px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:55px;
  width:333px;
  height:25px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:515px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:80px;
  width:333px;
  height:515px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:80px;
  width:40px;
  height:39px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:80px;
  width:39px;
  height:40px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:121px;
  width:40px;
  height:41px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:85px;
  width:32px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:126px;
  width:75px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:128px;
  width:81px;
  height:32px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background-color:rgba(188, 188, 188, 0.427450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
}
#u159_input {
  font-family:'应用字体';
}
#u159_input:disabled {
  color:grayText;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:318px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:173px;
  width:318px;
  height:318px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:514px;
  width:101px;
  height:45px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:514px;
  width:101px;
  height:45px;
  opacity:0.5;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:514px;
  width:101px;
  height:45px;
  opacity:0.5;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
