body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:54px;
  width:335px;
  height:542px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:263px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:25px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:55px;
  width:333px;
  height:25px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:515px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:80px;
  width:333px;
  height:515px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:103px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:42px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:89px;
  width:77px;
  height:42px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:73px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:131px;
  width:150px;
  height:150px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:131px;
  width:150px;
  height:150px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:286px;
  width:150px;
  height:150px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:286px;
  width:150px;
  height:150px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:441px;
  width:150px;
  height:150px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:441px;
  width:150px;
  height:150px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
